.project > img {
  width: 350px;
  height: 179px;
}

.project {
  transition: transform 100ms ease-in;
  margin: 15px;
}

.project:hover {
  color: white;
  background-color: #f64c08;
  width: 350px;
  height: 178px;
  transform: scale(1.05);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.project__content {
  padding: 10px;
}

.project__content > h4 {
  padding-bottom: 5px;
}

.project__content > p {
  font-size: 15px;
}
