.experienceContainer {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  margin: 200px 0;
  align-items: center;
}

.experienceContainer > h1 {
  padding-bottom: 20px;
}

.experienceContainer__info {
  background: url("../../assets/exp.jpeg");
  background-position: center;
  background-size: cover;
  height: 300px;
  z-index: 1000;
  width: 80vw;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
