@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

.experience {
  display: flex;
  flex-direction: column;
  border: 2px dotted white;
  border-radius: 10px;
  width: 200px;
  height: 150px;
  justify-content: center;
  align-items: center;
  background-color: #111111;
  overflow: hidden;
}

.experience > p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
}
